<% @pagetitle = "homepage" %>

<% if !logged_in? %>
<!-- The Jumbotron -->
<div class="background">
	
	<div class="headcontent">
		<h1 id="welcomehead" class="animated fadeIn">Welcome to Seydisigns!</h1>

		<p class="jumbuttons"><%= link_to "Sign Up", signup_path, class: "btn btn-success signupbut hvr-pulse-grow" %>
			<%= link_to "Email Me Directly", "mailto:syseydi@gmail.com?subject=Hello there Seydi!", class: "btn btn-primary emailbut hvr-pulse-shrink" %></p>
		</div>
	</div>

	<div class="jumbotron jumbo">

		<h1 id="abouthead">What is this?</h1><br>

		<p id="jumbotext">Hello, and welcome to Seydisigns, my Personal Messaging App. This is a mobile responsive web application I created using Ruby on Rails in order to learn the framework and showcase my Web Development skills. If you're interested in my services or would like to learn more about me, feel free to sign up to Seydisings by clicking the Signup button below. Or, you can just write me an e-mail if that's easier. <br><br>My name is Seydi and I'm a 4-year experienced Web Developer with expertise in Responsive Web Design. I mainly use HTML, CSS and JavaScript and recently started building web applications with Ruby on Rails. I enjoy designing and building colorful, responsive, and animated web pages of all kinds.
			<br><br>Whether you need a designer for a landing page, or a developer for a multi-layered website, I'd be happy to providey my services.<br><br> Cheers!</p>
		</div>

		<% else %>
		<% @pagetitle = "homepageloggedin" %>
		<div class="col-md-8 chatbox">
			<h3 class="msghead">Messenger</h3>
			<%= render 'shared/feed' %>
			<section class="message_form">
				<%= render 'shared/message_form' %>
			</section>

		</div>
		
		<% end %>

		<% if !logged_in? %>
		<div class="splashscreen">
			<div class="splashcontent col-md-6">
				<div class="splashead">
					<h2>Hi there!</h2><br>
					<p class="splashtext"> Do you need a new Website? Are you not sure what you want it to look like or how much you should pay for it? Click the button below to signup and I'll build a FREE template for your new website and give you a quote depending on the time it took me to build it (at a rate of $40/hour). If you don't like it, you don't have to pay anything.</p><br>
				</div>
				<div class="splashlinks">
					<%= link_to "Sign Up", signup_path, class: "btn btn-success signupbutsplash hvr-pulse-grow" %>
					<button class="nothankyou btn btn-primary hvr-pulse-shrink">No Thank You</button> 
				</div>
			</div>
		</div>
		<%end%>