<ul>


<li id="message-<%= message.id %>">
  <% if current_client?(message.client) %>
  <strong> You: </strong><br>
  <%else%>
  <strong><%= message.client.name %>:</strong><br>
  <%end%>

  <span class="content">
  	<%= message.content %>
  </span><br>
  <span class="timestamp">
    Sent <%= time_ago_in_words(message.created_at) %> ago.
    <% if current_client.admin? %>
      <%= link_to "delete", message, method: :delete,
                                       data: { confirm: "You sure?" } %>
     <% end %>
  </span>
</li>
</ul>