<% @pagetitle = "loginpage" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="loginform">
  <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= link_to "  (Forgot Password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span><br><br>
      <% end %>

      <p class="loginbut"><%= f.submit "Log in", class: "btn btn-primary hvr-pulse-grow" %></p>
    <% end %><br>

    <p>Don't have an account yet? <%= link_to "  Sign up now!", signup_path %></p>
    </div>
  </div>
</div>