<% @pagetitle = "passwordresetpage" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="passwordresetform">
  <h1>Reset password</h1>
    <%= form_for(@client, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @client.email %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br><br>

      <p class="passwordresetbut"><%= f.submit "Update password", class: "btn btn-primary" %></p>
    <% end %>
  </div>
  </div>
</div>