<% @pagetitle = "passwordresetpage" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <div class="passwordresetform">
   <h1>Password Reset</h1>
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <p class="passwordresetbut"><%= f.submit "Reset Password", class: "btn btn-primary" %></p>
    <% end %>
  </div>
  </div>
</div>