<% if object.errors.any? %>
  <div id="error_explanation" style="padding-top: 50px;">
    <div class="alert alert-danger">

    <% if object.errors.count < 2 %>
      <strong>Please fix the following error: </strong><br><br>
      <%else%>
       <strong>Please fix the following <%= pluralize(object.errors.count, "error") %>:</strong><br><br>
      <%end%>

      <ul style="list-style-type: disc;">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>