<div id="chatbox">
<% if @feed_items.any? %>
<table class="table messages">
	<% @feed_items.each do |message| %>

	<tr class="newmessage">
		<% if message.client == current_client %>

		<td class="nomsg"></td>

		<td class="yourmessage">
			<%= render message %>
		</td>

		<%else%>
		<td class="theirmessage">
			<%= render message %>
		</td>

		<td class="nomsg"></td>

		<%end%>
	</tr>

	<% end %>

</table>
<% end %>
</div>