<%= form_for(@message) do |f| %>

<div class="underchat">
<div class="composebox">
	<%= f.text_area :content, placeholder: "Type your message here...", class: "submit_on_enter" %>
	<%= render 'shared/error_messages', object: f.object %>
</div>

<div class="sendbutbox">
<%= f.submit "Send", class: "btn btn-primary sendbut hvr-pulse-grow" %>
</div>

<div class="recipientselect">
<% if current_client.admin?%>
<%= f.select :recipient, Client.all.collect(&:email), include_blank: true, class: "recipientlist" %>
<% else %>
<%= f.hidden_field :recipient, value: "syseydi@gmail.com" %>
<% end %>
</div>
</div>
<% end %>.