<li>

  <%= link_to client.name, client %>
  

  <% if current_client.admin?%>
    | <%= link_to "Edit " + client.name, edit_client_path(client)%>

    <% if !client.admin?%>
    | <%= link_to "Administer " + client.name, edit_account_administrer_path(client), data: { confirm: "Are you sure you want to make " + client.name + " an admin?" }%>
    <% end %>

    <% if !client.activated?%>
    | <%= link_to "Activate " + client.name, edit_account_activation_path(client), data: { confirm: "Are you sure you want to activate " + client.name + "?" }%>
    <% end %>



    
    
  <% end %>

  <% if current_client.admin? && !current_client?(client) %>
    | <%= link_to "Delete " + client.name, client, method: :delete,
                                  data: { confirm: "Are you sure you want to delete " + client.name + "?" } %>

    <% if client.activated? %>
    | <%= link_to "Deactivate " + client.name, edit_account_activation_path(client), data: { confirm: "Are you sure you want to deactivate " + client.name + "?" }%>

  <% end %>
  
     <% if client.admin? %>
    | <%= link_to "Deadminister " + client.name, edit_account_administrer_path(client), data: { confirm: "Are you sure you want to remove admin rights from " + client.name + "?" }%>

  <% end %>

  <% end %>

</li>