<% @pagetitle = "settingspage" %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="settingsform">
    <h1>Update Credentials</h1>
    <%= form_for(@client) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %><br>

      <p class="accounteditbut"><%= f.submit "Save changes", class: "btn btn-primary" %></p>
    <% end %>
  </div>
</div>
</div>