<% @pagetitle = "allclientspage" %>
<div class="row">
	<h1>All users</h1><br>

	<table class="table">
		<tbody>
			<tr>
				<td>
					<% if current_client.admin?%>
					<%= link_to "Create New Client", signup_path, class: "btn btn-primary "%>
					<% end %>
				</td>
				<td>
					<%= will_paginate %>

					<h2 class="adminlist">Admins</h2>
					<ul class="clients">
						<%= render @clientsadmins %>
					</ul>
				</td>
			</tr>

			<tr>
				<td>
					<h2 class="inactivelist">Inactive Clients</h2>
					<ul class="clients">
						<%= render @clientsinactive %>
					</ul>
				</td>
				<td>
					<h2 class="activelist">Active Clients</h2>
					<ul class="clients">
						<%= render @clientsactivenonadmin %>
					</ul>
					<%= will_paginate %>
				</td>
			</tr>

		</tbody>
	</table>

</div>

