<% @pagetitle = "signuppage" %>

<%= form_for(@client) do |f| %>
<div class="row">
      <%= render 'shared/error_messages', object: f.object %>
  <div class="col-md-6">
  <div class="signupform">
  <h1>Sign up</h1>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %><br>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <p class="createaccountbut"><%= f.submit "Sign up", class: "btn btn-success createaccountbut hvr-pulse-grow" %></p>
    <% end %>
    </div>
  </div>

  <div class="col-md-6">
  <div class="signuptext">
  <h2> Web Development - Responsive Designs </h2>
  <h4> Signup now for a FREE template of your new Website. </h4>
  </div>
  </div>
</div>