<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="client_info">

        <%= @client.name %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @client.messages.any? %>
      <h3>Messages (<%= @client.messages.count %>)</h3>
      <ol class="messages">
        <%= render @messages %>
      </ol>
      <%= will_paginate @messages %>
    <% end %>
  </div>
</div>