<h1>Seydisigns Account Activation</h1>

<p>Hi <%= @client.name %>,</p>

<p>
	Thank you for signing up to Seydisigns! I'd be more than happy to help you with your Web Development needs. Before we can go any further, could you please activate your account by clicking on the link below? 
</p>

<%= link_to "Activate", edit_account_activation_url(@client.activation_token,
email: @client.email) %>

<p>
	Thank you.<br><br>
	Best,<br><br>
	Seydisigns
</p>
