Hi <%= @client.name %>,

Thank you for signing up to Seydisigns! I'd be more than happy to help you with your Web Development needs. Before we can go any further, could you please activate your account by clicking on the link below? 

<%= edit_account_activation_url(@client.activation_token, email: @client.email) %>

Thanks and I'll talk to you soon!

Seydi