<h1>Seydisigns Notification</h1>

<p>Hi <%= @client.name %>,</p>

<p>
You have received a new message from Seydisigns. Click on the link below to log into your account and read it. 
</p>

<%= link_to "Read Message", @path, class: "btn btn-primary" %>

<p>
	Thank you.<br><br>
	Best,<br><br>
	Seydisigns
</p>
