Hi <%= @client.name %>,

You have received a new message from Seydisigns. Click on the link below to log into your account and read it. 

<%= link_to "Read Message", @path %>

Thank you.

Best,

Seydisigns