
You submitted a request to change your password. Click on the link below to do so: 

<%= edit_password_reset_url(@client.reset_token, email: @client.email) %>

This link will expire in two hours.

If you did not request your password to be reset, please ignore this email and your password will stay as it is.

Thank you.

Best,

Seydisigns