<h1>Password reset</h1>

<p>
You submitted a request to change your password. Click on the link below to do so: </p>

<%= link_to "Reset password", edit_password_reset_url(@client.reset_token,
                                                email: @client.email) %>

<p>This link will expire in two hours.</p>

<p>
If you did not request your password to be reset, please ignore this email and your password will stay as it is.
</p>

<p>
	Thank you.<br><br>
	Best,<br><br>
	Seydisigns
</p>
