// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signuppage {
	
	.container{
		padding-top: 150px;
		background: url('https://s3.amazonaws.com/seydisigns/5.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
	}

	h1{
		text-align: center;
	}

	.createaccountbut{
		margin-top: 10px;
		text-align: center;
	}

	.signupform{
	background-color: #ffffff;
	border-radius: 15px;
	width: 70%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	padding-top: 20px;
	display: block;
	margin: 0 auto;
	}

	.row{ 
	padding-bottom: 100px;
	}

	.signuptext{
	color: #ffffff;
	width: 100%;
	display: block;
	margin: 0 auto;
	text-shadow: #000 2px 2px 15px;

		h4{
		margin-top: 30px;
		margin-left: 60px;
		}
	}


	@media screen and (min-width : 320px) and (max-width : 991px){
	.signuptext{
		text-align: center;

		h4{
		margin-left: 0px;
		}
	}
	}

	@media screen and (min-width : 991px){
	.footer{
	    height: 256px;
	}
	}

	@media screen and (min-width : 539px) and (max-width : 991px){
		.signupform{
	width: 50%
	
		}
	}

	.footerlinks{
	display: block;
	margin: 0 auto;
	float: none;
}

.footersignupbut{
	display: none;
}

}

.settingspage{
	.row{
	margin-top: 100px;
	padding-bottom: 100px;
	}

	.accounteditbut{
		margin-top: 30px;
		text-align: center;
	}

	.navbar{
    background-color: transparent ;
	} 
	
	.container{
		padding-top: 150px;
		background: url('https://s3.amazonaws.com/seydisigns/5.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
	}

	.settingsform{
	background-color: #ffffff;
	border-radius: 15px;
	width: 70%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	padding-top: 20px;
	display: block;
	margin: 0 auto;
	}

	h1{
		text-align: center;
	}

	.footerlinks{
	display: block;
	margin: 0 auto;
	float: none;
}

}

.allclientspage{

.container{
	background: url('https://s3.amazonaws.com/seydisigns/3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	padding-top: 100px;

	}

	.row{
	background-color: #fff;
	width: 75%;
	display: block;
	margin: 0 auto;
	margin-bottom: 100px;
	}

	h1 {
	text-align: center;
	}

	td{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
	}

	.footerlinks{
	display: block;
	margin: 0 auto;
	float: none;
}
}

