// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginpage {
	
	.container{
		padding-top: 150px;
		background: url('https://s3.amazonaws.com/seydisigns/5.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
	}

	h1{
		text-align: center;
	}

	.loginbut{
		margin-top: 10px;
		text-align: center;
	}

	.loginform{
	background-color: #ffffff;
	border-radius: 15px;
	width: 70%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 20px;
	padding-top: 20px;
	display: block;
	margin: 0 auto;
	}

	.row{ 
	padding-bottom: 100px;
	}

	@media screen and (min-width : 320px) and (max-width : 991px){
		.footer{
	    height: 334px;
	}
	}

	@media screen and (min-width : 320px) and (max-width : 536px){
		.loginform{
		padding-left: 10%;
	padding-right: 10%;
	width: 90%

		}
	}

	@media screen and (min-width : 539px) and (max-width : 991px){
		.loginform{
	width: 50%
	
		}
	}

	@media screen and (min-width : 991px){
	.footer{
	    height: 334px;
	}
	}

}