// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Code for the whole site

// Imports
@import url('//fonts.googleapis.com/css?family=Lato');

// Predefined styling values
$footerheight: 180px;
$font: 'Lato', sans-serif;
$navcolor: transparent;
$navlinkscolor: #ffffff;
$footercolor: #000000;
$logoheight: 100px;
$logowidth: 200px;
$msgbubbleheight: 100%;
$msgbubblewidth: 48%;
$msgmarginbottom: 0px;
$bubbleradius: 15px;
$chatboxheight: 500px;
$jumbonavheight: 637px;
$btnsize: 20px;
$siteblue: #14a9d9;

body{
	font-family: $font; 
	margin: 0 0;
	background-color: #000000;
}

.background {
	height: 100%;
}

nav ul li a:active{
	background: #000000;
	color: $siteblue;
}

.btn{
	font-size: $btnsize;
}

#error_explanation{
	padding-top: 0px !important;
}

.alert ul{
	text-align: left;
}

.alert, .alert-info{
	margin-top: 0px;
	width: 50%;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.navhovered{
background-color: #000000 !important;
box-shadow:0 3px 3px rgba(0,0,0,0.3);	
}

.alert-info{
	position: fixed;
  top: 130px;
  left: 0;
  right: 0;
  z-index: 7000;
}

ul {
	list-style-type: none;
}

a:hover{
	text-decoration: none;
}

.footer ul li a:hover {
	color: $siteblue !important;
}

.hoverednav {
	background-color: #000000;
}

.logoimglink:hover{
	background: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}

.dropdown-menu > li > a:hover{
	color: $siteblue !important;
}

.navbar{
	border-radius: 0;
	margin: none;
	margin-bottom: 0;
	background-color: $navcolor;
	border: none;
	
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #000000;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus{
	color: #ffffff;
	background-color: #000000;
}

.navbar-nav > li > .dropdown-menu li{
	font-size: 16px;
	text-align: center;
	color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: $navlinkscolor;
	font-size: 16px;
	text-shadow: #000 2px 2px 5px;
}

// .navbar-default:hover{
// 	background-color: #000000 !important;
// }

.navbar-default .navbar-nav > li > a:hover {
	color: $siteblue;
	// background-color: #000000 !important;
}

.navbar-default .navbar-nav > li > a:focus{
	color: #ffffff;
	background-color: transparent !important;
}

.navbar-default .navbar-nav > li > a:active{
	color: #ffffff;
	background-color: transparent !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background-color: transparent !important;
	color: $siteblue;
}

.navbar-nav > li > .dropdown-menu{
	background-color: #000000;
}

.dropdown-menu > li > a{
	color: $navlinkscolor;
}

.dropdown-menu > li > a:hover {
	color: $siteblue;
}

.icon-bar{
	color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $navlinkscolor
}

.footer{
	background-color: $footercolor;
	height: $footerheight;
}

.footer ul li a{
	color: $navlinkscolor !important;
}

.footer ul li {
	display: inline-block;
	margin-top: 30px;
}

.footer ul {
	margin: 0 auto;
}

.logoimglink img {
	height: 110px !important;
	width: 150px;
}

.navbar-right{
	margin-top: 30px;
	display: none;
}

.container{
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #ffffff;
}

nav .container-fluid{
	width: 75%;
}

.footersignupbut{
		display: block;
		width: 100px;
		margin: 0 auto;
		}

		.footerli{
		font-size: 16px;
		}

		.footerlinks{
		padding-top: 40px;
		}

		.footersignup{
		padding-top:60px;
		}

		.footernav{
		width: 312px;
		padding-left: 0px;
		}

		#lipush{
		margin-right: 50px;
		margin-left: 85px;
		}

		@media screen and (max-width : 991px){
	.footer{
		height: 225px;
	}
}

// All the Mobile Responsive Styling 

@media screen and (min-width : 320px) and (max-width : 767px){

	.navbar-fixed-top, .navbar-fixed-bottom{
		background-color: #000000 !important;
	}

	.navbar-toggle {
		float: left;
		left: -16%;
		margin-top: 40px;
	}

	.navbar-right{
		margin-top: 0px;
	}

	.logoimglink{
		margin-left: 28%;
	}

}

@media screen and (min-width : 320px) and (max-width : 387px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-left: -28%;
	}

	.logoimglink{
		margin-left: 0%;
	}
}

@media screen and (min-width : 388px) and (max-width : 452px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-left: -26%;
	}

	.logoimglink{
		margin-left: 9%;
	}
}

@media screen and (min-width : 453px) and (max-width : 599px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-left: -24%;
	}

	.logoimglink{
		margin-left: 18%;
	}
}

@media screen and (min-width : 600px) and (max-width : 767px){
	.navbar-default .navbar-collapse, .navbar-default .navbar-form{
		margin-left: -22%;
	}

	.logoimglink{
		margin-left: 29%;
	}
}

@media screen and (min-width : 320px) and (max-width : 434px){
	#welcomehead{
		font-size: 2em !important;
	}

	.btn{
		font-size: 17px;
	}
}

@media screen and (min-width : 435px) and (max-width : 522px){
	#welcomehead{
		font-size: 3em !important;
	}
}

@media screen and (min-width : 523px) and (max-width : 579px){
	#welcomehead{
		font-size: 3.5em !important;
	}
}

@media screen and (min-width : 595px) and (max-width : 724px){
	#welcomehead{
		font-size: 4em !important;
	}
}

@media screen and (min-width : 580px) and (max-width : 594px){
	#welcomehead{
		font-size: 3.8em !important;
	}
}

@media screen and (min-width : 725px) and (max-width : 739px){
	#welcomehead{
		font-size: 3.8em !important;
	}
}



// All CSS for the Homepage Only
.homepage {

.background {
	height: 800px;
}

.headcontent{
	position: absolute;
    top: 10%;
    z-index: 10;
    width: 100%
}

.splashscreen {
    display: none;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:100% !important;
    height:1528px !important;
    background-color: rgba(0, 0, 0, 0.48);
    text-align: center;
    z-index: 12;
}

.splashcontent{
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 615px;
	display: block;
	width: 40%;
	float: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
}

.splashcontent .btn-primary{
	font-size: 1.2em;
}

.nothankyou{
	margin-left: 30px;
}

	.navbar{
    background-color: transparent ;
	} 

	#welcomehead{
		text-align: center;
		verticle-align: middle;
		line-height: 400px;
		color: white;
		text-shadow: #000 2px 2px 15px;
		font-size: 5em;
	}

	#abouthead{
		text-align: center;
	}

	.signupbut{ 
		margin: 0 auto;
	}

	.jumbuttons{
		text-align: center;
	}

	.jumbonav{
		padding-top: 20px;
		padding-bottom: 20px;
		background: url('https://s3.amazonaws.com/seydisigns/2.jpg');
		background-size: cover;
		height: $jumbonavheight;
		background-repeat: no-repeat;
		background-position: center; 
		border-radius: 0px;
	}

	.jumbotron{
		border-radius: 0px;
	}

	.jumbo{
		background-color: transparent;
	}

	.signupbut{
		margin-right: 50px;
		box-shadow: #000 2px 2px 15px;
	}

	.emailbut{
		box-shadow: #000 2px 2px 15px;
	}

	#jumbotext{
		text-align: center;
	}

@media screen and (max-width : 525px){
	.splashscreen{
		height: 198% !important;
	}
}

@media screen and (max-width : 566px){
	.splashcontent{
	 width: 100% !important;
	}
}

@media screen and (min-width : 567px) and (max-width : 580px){
	.splashcontent{
	 width: 72% !important;
	}
}

@media screen and (max-width : 400px){
	.splashscreen {
    height:1980px !important;
}
}

@media screen and (min-width : 581px) and (max-width : 722px){
	.splashcontent {
    width: 64% !important;
}
}
}

// All the CSS for the home page once logged in 
.homepageloggedin {

	.container{
	background: url('https://s3.amazonaws.com/seydisigns/4.jpg');
	background-size: cover;
		background-repeat: no-repeat;
		background-position: center; 
	}
    .chatbox{
    // border-left: 1px solid #D3D3D3;
    background-color: #ffffff;
    padding-bottom: 30px;
    border-radius: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 100px;

    }

    .clientinfo{
    background-color: #ffffff;
    border-radius: 15px;
    margin-right: 5%;
    }

	p, ol, ul, td {
		font-family: $font;
	}
	.row{
		margin-top: 140px;
		margin-bottom: 140px;
		width: 75%;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.newmessage{
		border: 1px solid white;
	}
	.theirmessage, .yourmessage {
		border: none;

		height: $msgbubbleheight;
		display: block;
		margin-bottom: $msgmarginbottom;
		margin: 15px 15px 0px 15px;
		border-radius: $bubbleradius;
	}

	.nomsg{
		width: $msgbubblewidth;
	}

	.yourmessage{
		background-color: lightgreen;
		float: right;
	}

	.theirmessage{
		background-color: lightblue;
		float: left;
	}

	.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
		border: none;
	}

	td ul {
		margin: 0 0 0 -30px;
	}

	#chatbox{
		height: $chatboxheight;
		overflow: auto;
		margin-top: 5px;
	}

	.sendbutbox{
		display: inline-block;
		float: right;
	}

	.composebox{
		display: inline-block;
		float: left;
		width: 80%;
	}

	.composebox textarea{
		width: 100%;
	}

	.recipientselect{
		float: left;
	}

	.underchat{
		margin-top: 20px;
	}

	.msghead{
		text-align: center;
		margin-bottom: 20px;
	}

	.timestamp{ 
		font-style: italic;
		font-size: 10px;
	}

	.footerlinks{
	display: block;
	margin: 0 auto;
	float: none;
}

@media screen and (min-width : 320px) and (max-width : 619px){
	.chatbox{
	width: 95%;
	}

.row{
	width: 100%;
	}
	.yourmessage, .theirmessage{
	width: 100%;
	}

	.composebox, .sendbutbox, .recipientselect{
	display: block;
	margin-left: auto;
	margin-right :auto;
	float: none;
	}

	.sendbutbox{
	width: 24%;
	margin-top: 5px;
	}

	.recipientselect{
	margin-top: 12px;
	width: 57%;
	}
	}

	@media screen and (min-width : 620px) and (max-width : 991px){
	.chatbox{
	padding-bottom: 70px;
	}


}


@media screen and (min-width : 619px) and (max-width : 767px){
	.chatbox{
	width: 95% !important;
	}
	}

	@media screen and (min-width : 768px) and (max-width : 989px){
	.chatbox{
	width: 60% !important;
	}
	}

	@media screen and (min-width : 990px){
	.chatbox{
	margin-left: 20%;
	margin-right: 20%;
	}
	}



}

	.footersignupbut{
		display: block;
		width: 100px;
		margin: 0 auto;
		}

		.footerli{
		font-size: 16px;
		}

		.footerlinks{
		padding-top: 40px;
		}

		.footersignup{
		padding-top:60px;
		}

		.footernav{
		width: 312px;
		padding-left: 0px;
		}

		#lipush{
		margin-right: 50px;
		margin-left: 85px;
		}

		@media screen and (max-width : 991px){
	.footer{
		height: 225px;
	}
}














