<footer class="footer">
  <div class="col-md-6 footerlinks">
   <ul class="footernav">
      <li class="footerli" id="lipush"><%= link_to "Home",   root_path, class: "hvr-grow" %></li>
      <li class="footerli"><%= link_to "Contact", 'mailto:syseydi@gmail.com?subject=Hello there Seydi!', class: "hvr-grow" %></li>
    </ul> 
    </div>

<%if !logged_in? %>
    <div class="col-md-6 footersignup">
    <%= link_to "Sign Up", signup_path, class: "btn btn-success footersignupbut hvr-pulse-grow" %>
    </div>
    <% end %>
</footer>