<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("https://s3.amazonaws.com/seydisigns/Logo.png"), root_path, class: "logoimglink hvr-grow" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right animated fadeInRight">
        <li><%= link_to "Home", root_path, class: "hvr-grow" %></li>

        <% if logged_in? %>
        <% if current_client.admin?%>
        <li><%= link_to "Clients", clients_path, class: "hvr-grow" %></li>
        <% end %>
        <% else %>
        <li><%= link_to "Sign Up", signup_path, class: "hvr-grow" %></li>
        <li><%= link_to "Log in", login_path, class: "hvr-grow" %></li>
        <% end %>
        <li><%= link_to "Upwork", "http://www.upwork.com/o/profiles/users/_~01d4a1ce368441bc0f/", class: "hvr-grow"
        %>
        <li><%= link_to "Email Me", "mailto:syseydi@gmail.com?subject=Hello there Seydi!", class: "hvr-grow" %></li>
        <% if logged_in? %>
        <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <!-- <li><%= link_to "Profile", current_client %></li> -->
          <li><%= link_to "Settings", edit_client_path(current_client), class: "hvr-grow" %></li></li>
          <!-- <li class="divider"></li> -->
          <li>
            <%= link_to "Log out", logout_path, method: "delete", class: "hvr-grow" %>
          </li>
        </ul>
      </li>
      <% end %>
    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>