<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Seydisigns</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" href="assets/jquery.fadeshow-0.1.1.min.css">
  <script src="assets/jquery.fadeshow-0.1.2.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://s3.amazonaws.com/seydibio/pb.png"/>

</head>

<body class="<%= @pagetitle %>">
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
